<h1 class="heading">Shopping <span class="heading-span"> List</span></h1>
<img class="books-img" src="./images/books.png" alt="books" />

<!--Karta książki-->

<div class="book-card">
  <img class="books-card-img" src="./images/book-example.jpg" alt="books" />
  <div class="book-description">
    <p class="book-title">I will find you</p>
    <p class="book-genre">Hardcover fiction</p>
    <p class="book-plot">
      David Burroughs was once a devoted father to his three-year-old son Matthew, living a dream
      life just a short drive away from the working-class suburb where he and his wife, Cheryl,
      first fell in love--until one fateful night when David woke suddenly to discover Matthew had
      been murdered while David was asleep just down the hall.
    </p>
    <p class="book-author">Harlan Coben</p>
  </div>
</div>
