<h1 class="heading">Shopping <span class="heading-span"> List</span></h1>

<div class="books-container"></div>

<div class="pagination">
  <button class="go-to-first-page">
    <svg width="24" height="24">
      <use href="/src/images/icons.svg#icon-slider-pages-left"></use>
    </svg>
    <svg width="24" height="24">
      <use href="/src/images/icons.svg#icon-slider-pages-left"></use>
    </svg>
  </button>
  <button class="prev-page">
    <svg width="24" height="24">
      <use href="/src/images/icons.svg#icon-slider-pages-left"></use>
    </svg>
  </button>
  <button class="first-page">1</button>
  <button class="second-page">2</button>
  <button class="third-page">3</button>
  <button class="morePages">...</button>
  <button class="next-page">
    <svg width="24" height="24">
      <use href="/src/images/icons.svg#icon-slider-pages-right"></use>
    </svg>
  </button>
  <button class="go-to-last-page">
    <svg width="24" height="24">
      <use href="/src/images/icons.svg#icon-slider-pages-right"></use>
    </svg>
  </button>
</div>
