<div class="backdrop-pop-up is-hidden" data-pop-up>
  <div class="modal-pop-up">
    <button type="button" class="close-modal-button" data-pop-up-close aria-label="Close">
      <svg class="close-modal-button__icon" width="20" height="20">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-pop-up-content"></div>
    <div class="congratulatory-message modal__message">
      Сongratulations! You have added the book to the shopping list. To delete, press the button
      “Remove from the shopping list”.
    </div>
    <div class="auth-message modal__message">
      You need to be authenticated to add books to the shopping list
    </div>
  </div>
</div>
