/* Shopping styles */

@media (max-width: 767px) {
  .heading {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    font-size: 48px;
    color: #111;
    letter-spacing: -1.92px;
  }

  .heading-span {
    color: #4f2ee8;
    font-size: 48px;
    letter-spacing: -1.92px;
  }

  .books-img {
    width: 265px;
    height: 198px;
    margin-left: 50px;
  }
}
.icon-trash {
  fill: #4f2ee8;
  stroke: #fff;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  background-color: #4f2ee8;
}

.books-card-img {
  width: 100px;
  height: 142px;
  float: left;
  padding: 10px;
  border-radius: 16px;
}
.button-delete {
  float: right;
  margin: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-color: #4f2ee8;
  background-color: #4f2ee8;
}
.book-card {
  display: flex;
  position: relative;
  bottom: 200px;
  height: 68px;
  margin: 14px;
  gap: 10px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #fff;
  max-width: 100%;
  height: 150px;
}

.book-description {
  display: block;
  padding-right: 5px;
  max-width: 100%;
}

.book-genre {
  margin-bottom: 4px;
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
}

.book-title {
  padding-top: 10px;
  margin-bottom: 4px;
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  font-weight: 700;
}

.book-plot {
  color: #111;
  font-size: 14px;
  font-weight: 400px;
  overflow: hidden;
  height: 50px;
}

.book-author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  margin-top: 16px;
}
.book-message {
  margin-top: 20px;
  margin-left: 50px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 14px;
  width: 244px;
}
.hidden {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .heading {
    margin-top: 40px;
    margin-left: 32px;
    color: #111;
    font-size: 32px;
  }

  .heading-span {
    color: #4f2ee8;
    font-size: 32px;
  }

  .books-img {
    width: 322px;
    height: 241px;
    margin-left: 170px;
    overflow: hidden;
  }
  .book-message {
    margin-left: 200px;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    width: 244px;
  }
  .books-card-img {
    width: 116px;
    height: 165px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .book-card {
    max-width: 704px;
    width: 100%;
    height: 180px;
    max-width: 100%;
    position: relative;
    margin-top: 0px;
  }

  .book-title {
    padding-top: 24px;
  }
  .icon-trash {
    fill: #4f2ee8;
    stroke: #fff;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    background-color: #4f2ee8;
  }
}

@media (min-width: 1023px) {
  .books-img {
    width: 265px;
    height: 198px;
    margin-left: 500px;
  }

  .book-message {
    margin-left: 500px;
  }

  .book-card {
    height: 180px;
    width: 996px;
  }
  .heading {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    font-size: 48px;
    color: #111;
    letter-spacing: -1.92px;
  }

  .heading-span {
    color: #4f2ee8;
    font-size: 48px;
    letter-spacing: -1.92px;
  }
}

/* swicher style*/
.slider {
  border-radius: 18px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #4f2ee8, #ffff);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  border-radius: 50%;
  border: 1.5px solid #ffff;
  box-shadow: inset 0 2 2px #dadada;
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* swicher style end*/
/* Sign Up modal */
.is-hidden {
  display: none;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.sign-up-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4f2ee8;
  z-index: 10;
}
.form-field {
  position: relative;
  top: 25%;
  left: 25%;
  width: 579px;
  height: 516px;
  background-color: white;
  border: 2px solid black;
  border-radius: 18px;
}
.sign-up-modal-close {
  border: none;
  background-color: transparent;
  outline: none;
  position: absolute;
  top: 31px;
  left: 534px;
}
.signup-close-icon {
  stroke: black;
}

/* End Sign Up modal */
/*header style*/
body {
  overflow-x: hidden;
}
.logo-header {
  display: flex;
  align-items: center;
}
svg.logo-icon {
  margin-right: 8px;
}
.sign-up-button,
.sign-up-button-mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 184px;
  height: 45px;
  border-radius: 18px;
  background-color: #4f2ee8;
  border-style: none;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.arrow-right-icon {
  margin-right: 14px;
  stroke: #eac645;
}
.sign-up-text {
  margin-left: 14px;
}
.hamburger-icon {
  fill: #000000;
  stroke: black;
}
.switch-button-div,
.switch-button-div-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.home-link,
.shopping-text,
.nav-list__link,
.logo-header {
  text-decoration: none;
  color: black;
  line-height: 18px;
  font-size: 14px;
}
.nav-list__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8 16 8 16;
  border-radius: 36px;
}
.shopping-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburger-button,
.close-button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  height: 20px;
  stroke: #000;
}

.mobile-menu-field {
  display: none;
  transition: transform 500ms ease;
  transform: translateY(-100%);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 375px;
  min-height: 812px;
  z-index: 10;
  background: radial-gradient(circle at top, #4f2ee8 25%, #ffffff);
}
.mobile-logo-header {
  margin-left: 20px;
}
.close-button-icon {
  stroke: black;
}
.sign-up-button-mobile-menu {
  margin-top: 40px;
  margin-left: 20px;
  border: 1.5 solid black;
  background-color: #4f2ee8;
}
.mobile-header-items {
  background-color: white;
}
.switch-button-div-mobile {
  gap: 21px;
  margin-right: 25px;
}
.background-cover-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 80%;
}

.background-cover-container img {
  width: 125%;
  transform: rotate(-15deg);
}
.nav-list__link--active {
  background-color: #eac645;
}

@media (max-width: 767px) {
  body {
    min-width: 375px;
    max-width: 767px;
  }
  .nav-list,
  .sign-up-button {
    display: none;
  }
  .header-items,
  .mobile-header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
  }
  .nav-item {
    margin-left: 20px;
  }
  .switch-button-div {
    margin-right: 20px;
    gap: 19px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    min-width: 768px;
    max-width: 1023px;
  }
  .hamburger-icon {
    display: none;
  }
  .switch-button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-right: 32px;
  }

  .header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
  }
  .nav-item {
    display: flex;
    justify-content: space-between;
    gap: 76px;
    margin-left: 32px;
  }
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
  }
  .home-link {
    padding: 8 15.5 8 15.5;
    border-radius: 36px;
    font-weight: 700;
  }

  .nav-list__link {
    font-weight: 500;
  }
}
@media (min-width: 1024px) {
  body {
    max-width: 1440px;
    min-width: 1024px;
  }
  .hamburger-icon {
    display: none;
  }

  .switch-button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-right: 24px;
  }

  .header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
  }
  .nav-item {
    display: flex;
    justify-content: space-between;
    gap: 76px;
    margin-left: 24px;
  }
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
  }
  .home-link {
    padding: 8 15.5 8 15.5;
    border-radius: 36px;
    font-weight: 700;
  }

  .nav-list__link {
    font-weight: 500;
  }
}
/*header style end*/

/*DarkMode style*/
[data-theme='dark'] {
  body {
    background: #202024;
  }
  .category-list__item.active,
  .category-list__item:hover {
    color: #eac645;
    transition: color 0.3s ease-in;
  }
  header {
    background: #111111;
    transition: color 0.3s ease-in;
  }
  .nav-item p {
    color: #f3f3f3;
    transition: color 0.3s ease-in;
  }
  .heading {
    color: #111;
    transition: color 0.3s ease-in;
  }
  .book-card {
    background: #202024;
    transition: color 0.3s ease-in;
  }
  .header-items {
    border: 1.5px solid #aaaaaa;
    transition: border 0.3s ease-in;
  }
  .shopping-list-icon {
    fill: #ffffff;
    transition: fill 0.3s ease-in;
  }
  svg.hamburger-icon {
    fill: #ffffff;
    stroke: rgb(255, 255, 255);
  }
  body,
  .books__book--title,
  .books__heading,
  .shopping-list-link,
  .category-list__item,
  h1,
  .sign-up-button {
    color: #ffffff;
    transition: color 0.3s ease-in;
  }
  .see-more-btn {
    color: #ffffff !important;
    transition: color 0.3s ease-in;
  }
  .slider {
  }
  body,
  .books__book--title,
  .books__heading,
  .shopping-list-link,
  .category-list__item,
  h1,
  .sign-up-button {
    color: #ffffff;
    transition: color 0.3s ease-in;
  }
  .see-more-btn {
    color: #ffffff !important;
    transition: color 0.3s ease-in;
  }
  .slider {
    background: linear-gradient(to bottom, #4f2ee8, #686868);
  }
}
/*DarkMode style end*/

/*modal window styles*/

.modal-pop-up {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 40px 24px;
  min-width: 335px;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  color: #111;
  background-color: blue;
  border: 2px solid #111;
  border-radius: 18px;
}
.close-modal-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__image {
  max-width: 192px;
  min-height: 281px;
  border-radius: 8px;
  margin-bottom: 14px;
  margin-top: 40px;
  border: none;
}
.modal__details {
  display: flex;
  flex-direction: column;
}
.modal__details-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.modal__details-author {
  margin-bottom: 18px;
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;
}
.modal__details-description {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}
.modal__details-links {
}

.modal-pop-up-btn.button {
  min-width: 211px;
  height: 46px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 28px;
  text-transform: uppercase;
  line-height: 1.29;
  letter-spacing: -0.01em;
}
/*.modal-message {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  max-width: 242px;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.04em;
}
*/

@media screen and (min-width: 768px) {
  .modal-pop-up {
    min-height: 465px;
    padding: 40px;
    max-width: 579px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    position: relative;
  }
  .close-modal-button {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }
  .modal-pop-up-content {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 40px;
  }
  .modal {
    flex-direction: row;
  }
  .modal-pop-up-btn.button {
    padding: 20px 0;
    min-width: 499px;
    font-size: 18px;
    line-height: 1.33;
  }
  .modal__image {
    max-width: 287px;
    min-height: 408px;
  }
  .modal__details-title {
    font-size: 24px;
    line-height: 1.17;
    max-width: 270px;
  }
  .modal__details-author {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.29;
  }
  .modal__details-description {
    margin-bottom: 20px;
  }

  /*.modal-message {
    max-width: 324px;
    font-size: 12px;
    line-height: 1.17;
  }
  */
}
