/* Shopping styles */

@media (max-width: 767px) {
  .heading {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    font-size: 48px;
    color: #111;
    letter-spacing: -1.92px;
  }

  .heading-span {
    color: #4f2ee8;
    font-size: 48px;
    letter-spacing: -1.92px;
  }

  .books-img {
    width: 265px;
    height: 198px;
    display: flex;
    justify-content: center;
  }
}
.icon-trash {
  float: right;
  padding: 5px;
  width: 16px;
  height: 16px;
  fill: #000;
  /*border-radius: 50%;*/
  border-color: #4f2ee8;
}
.books-card-img {
  width: 100px;
  height: 142px;
  float: left;
  padding: 10px;
  border-radius: 16px;
}
.button-delete {
  float: right;
  padding: 5px;
  margin: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-color: #4f2ee8;
  background-color: #4f2ee8;
}
.book-card {
  display: flex;
  position: absolute;
  height: 68px;
  margin: 14px;
  gap: 10px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #fff;
  max-width: 100%;
  height: 150px;
}

.book-description {
  display: block;
  padding-right: 5px;
  max-width: 100%;
}

.book-genre {
  margin-bottom: 4px;
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
}

.book-title {
  padding-top: 10px;
  margin-bottom: 4px;
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  font-weight: 700;
}

.book-plot {
  color: #111;
  font-size: 14px;
  font-weight: 400px;
  overflow: hidden;
  height: 50px;
}

.book-author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  margin-top: 16px;
}
.book-message {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.6);
  float: center;
  text-align: center;
  font-size: 14px;
  width: 244px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .heading {
    margin-top: 40px;
    margin-left: 32px;
    color: #111;
    font-size: 32px;
  }

  .heading-span {
    color: #4f2ee8;
    font-size: 32px;
  }

  .books-img {
    width: 322px;
    height: 241px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .book-message {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    width: 244px;
  }
  .books-card-img {
    width: 116px;
    height: 165px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .book-card {
    max-width: 704px;
    width: 100%;
    height: 180px;
    max-width: 100%;
  }

  .book-title {
    padding-top: 24px;
  }
}

@media (min-width: 1023px) {
  .books-img {
    width: 265px;
    height: 198px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .book-card {
    height: 180px;
    width: 996px;
  }
  .heading {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    font-size: 48px;
    color: #111;
    letter-spacing: -1.92px;
  }

  .heading-span {
    color: #4f2ee8;
    font-size: 48px;
    letter-spacing: -1.92px;
  }
}

/* swicher style*/
.slider {
  border-radius: 18px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #4f2ee8, #ffff);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  border-radius: 50%;
  border: 1.5px solid #ffff;
  box-shadow: inset 0 2 2px #dadada;
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* swicher style end*/

/*header style*/
body {
  overflow-x: hidden;
}
.logo-header {
  display: flex;
  align-items: center;
}
svg.logo-icon {
  margin-right: 8px;
}
.shopping-list-div {
  display: flex;
  gap: 4px;
  align-items: center;
}
.sign-up-button,
.sign-up-button-mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 184px;
  height: 45px;
  border-radius: 18px;
  background-color: #4f2ee8;
  border-style: none;
  font-weight: 500;
  color: white;
}
.arrow-right-icon {
  margin-right: 14px;
}
.sign-up-text {
  margin-left: 14px;
}
.hamburger-icon {
  fill:#000000;
  stroke: black;
}
.switch-button-div,
.switch-button-div-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.home-link,
.shopping-list-link,
.logo-header {
  text-decoration: none;
  color: black;
  line-height: 18px;
  font-size: 14px;
}
.hamburger-button,
.close-button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  height: 14px;
}

.mobile-menu-field {
  display: none;
  transition: transform 500ms ease;
  transform: translateY(-100%);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 375px;
  min-height: 812px;
  z-index: 10;
  background: radial-gradient(circle at top, #4f2ee8 25%, #ffffff);
}
.mobile-logo-header {
  margin-left: 20px;
}
.close-button-icon {
  stroke: black;
}
.sign-up-button-mobile-menu {
  margin-top: 40px;
  margin-left: 20px;
  border: 1.5 solid black;
  background-color: #4f2ee8;
}
.mobile-header-items {
  background-color: white;
}
.switch-button-div-mobile {
  gap: 21px;
  margin-right: 25px;
}
.background-cover-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 80%;
}

.background-cover-container img {
  width: 125%;
  transform: rotate(-15deg);
}

@media (max-width: 767px) {
  body {
    min-width: 375px;
    max-width: 767px;
  }
  .nav-list,
  .sign-up-button {
    display: none;
  }
  .header-items,
  .mobile-header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
  }
  .nav-item {
    margin-left: 20px;
  }
  .switch-button-div {
    margin-right: 20px;
    gap: 19px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    min-width: 768px;
    max-width: 1023px;
  }
  .hamburger-icon {
    display: none;
  }
  .switch-button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-right: 32px;
  }

  .header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
  }
  .nav-item {
    display: flex;
    justify-content: space-between;
    gap: 76px;
    margin-left: 32px;
  }
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  .home-link {
    padding: 8 15.5 8 15.5;
    background-color: #eac645;
    border-radius: 36px;
    font-weight: 700;
  }

  .shopping-list-link {
    font-weight: 500;
  }
}
@media (min-width: 1024px) {
  body {
    max-width: 1440px;
    min-width: 1024px;
  }
  .hamburger-icon {
    display: none;
  }

  .switch-button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-right: 24px;
  }

  .header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
  }
  .nav-item {
    display: flex;
    justify-content: space-between;
    gap: 76px;
    margin-left: 24px;
  }
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  .home-link {
    padding: 8 15.5 8 15.5;
    background-color: #eac645;
    border-radius: 36px;
    font-weight: 700;
  }

  .shopping-list-link {
    font-weight: 500;
  }
}
/*header style end*/

/*DarkMode style*/
[data-theme="dark"] {
  body {
    background: #202024;
  }
  .category-list__item.active,
  .category-list__item:hover{
    color:#EAC645;
    transition: color 0.3s ease-in;
  }
  header{
    background: #111111;
    transition: color 0.3s ease-in;
  }
  .nav-item p{
    color:#F3F3F3;
    transition: color 0.3s ease-in;
  }
 .heading {
   color: #111;
  transition: color 0.3s ease-in;
 }
 .book-card{
  background: #202024;
  transition: color 0.3s ease-in;
 }
 .header-items {
   border: 1.5px solid #AAAAAA;
  transition: border 0.3s ease-in;
 }
.shopping-list-icon{
    fill:#FFFFFF;
    transition: fill 0.3s ease-in;
  }
svg.hamburger-icon{
  fill:#ffffff;
  stroke: rgb(255, 255, 255);
}
 body,
 .books__book--title,
 .books__heading,
 .shopping-list-link,
 .category-list__item,
 h1,
 .sign-up-button{
  color:#FFFFFF;
  transition: color 0.3s ease-in;
 }
 .see-more-btn{
  color: #FFFFFF !important;
  transition: color 0.3s ease-in;
 }
 .slider{
    background: linear-gradient(to bottom, #4f2ee8, #686868);
 }
 }
/*DarkMode style end*/