<header>
  <div class="header-items">
    <!--navigation-->
    <nav class="nav-item">
      <a href="/src/index.html" class="logo-header">
        <svg class="logo-icon" width="24px" height="24px">
          <use href="/src/images/icons.svg#icon-logo"></use>
        </svg>
        <p>Bookshelf</p>
      </a>
      <!--navigation-list-->
      <ul class="nav-list">
        <li><a href="/src/index.html" class="home-link">HOME</a></li>
        <li>
          <a href="/src/index.html" class="nav-list__link--active nav-list__link home-link">HOME</a>
        </li>
        <li>
          <div class="nav-list__link">
            <a href="./shopping-list.html" class="shopping-text"
              >SHOPPING LIST<svg class="shopping-list-icon" width="20px" height="20px">
                <use href="/src/images/icons.svg#icon-shop"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </nav>

    <!--dark mode switcher-->
    <div class="switch-button-div">
      <label for="t-switch" class="switch">
        <input type="checkbox" class="theme-switch" id="t-switch" checked />
        <span class="slider"></span>
      </label>
      <!--sign up button-->
      <button type="button" class="sign-up-button">
        <span class="sign-up-text">Sign up</span
        ><svg class="arrow-right-icon" width="20px" height="20px">
          <use href="/src/images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button class="hamburger-button open-mobile-menu">
        <svg class="hamburger-icon" width="20px" height="20px">
          <use href="/src/images/icons.svg#icon-menu-hamburger"></use>
        </svg>
      </button>
    </div>
  </div>
  <!--mobile menu-->
  <div class="mobile-menu-field">
    <div class="mobile-header-items">
      <a href="/src/index.html" class="logo-header mobile-logo-header">
        <svg class="logo-icon" width="24px" height="24px">
          <use href="/src/images/icons.svg#icon-logo"></use>
        </svg>
        <p>Bookshelf</p>
      </a>
      <div class="switch-button-div-mobile">
        <label class="switch">
          <input type="checkbox" />
          <span class="slider"></span>
        </label>
        <button class="close-button">
          <svg class="close-button-icon" width="14px" height="14px">
            <use href="/src/images/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="mobile-menu-body">
      <button type="button" class="sign-up-button-mobile-menu">
        <span class="sign-up-text">Sign up</span
        ><svg class="arrow-right-icon" width="20px" height="20px">
          <use href="/src/images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <div class="background-cover-container">
        <img src="/src/images/mobile-background-img.png" alt="pictur of books covers" />
      </div>
    </div>
  </div>
</header>

<form name="signup-form" autocomplete="on" novalidate>
  <label>
    Name
    <input type="text" name="name" />
  </label>
  <label>
    Email
    <input type="email" name="email" />
  </label>
  <label>
    Password
    <input type="password" name="password" />
  </label>
  <button type="submit">SIGN UP</button>
  <a href="#">SIGN UP</a>
  <a href="#">SIGN IN</a>
  <button type="button">X</button>
</form>
