<!-- Header Section -->

<!-- Container for header items -->
<header>
  <div class="header-items">
    <!-- Navigation Section -->
    <nav class="nav-item">
      <!-- Logo with SVG icon and site name -->
      <a href="/src/index.html" class="logo-header">
        <svg class="logo-icon" width="24px" height="24px">
          <use href="/src/images/icons.svg#icon-logo"></use>
        </svg>
        <p>Bookshelf</p>
      </a>

      <!-- Navigation List -->
      <ul class="nav-list hidden">
        <!-- Home link with active class -->
        <li>
          <a href="/src/index.html" class="nav-list__link nav-list__link--active home-link">HOME</a>
        </li>
        <!-- Shopping list link with SVG icon -->
        <li>
          <div class="nav-list__link">
            <a href="./shopping-list.html" class="shopping-text"
              >SHOPPING LIST
              <svg class="shopping-list-icon" width="20px" height="20px">
                <use href="/src/images/icons.svg#icon-shop"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </nav>

    <!-- Dark Mode Switcher and Authorization Section -->
    <div class="switch-button-div">
      <!-- Dark mode switch with checkbox -->
      <label for="t-switch" class="switch">
        <input type="checkbox" class="theme-switch" id="t-switch" checked />
        <span class="slider"></span>
      </label>

      <!-- Authorization partial included -->
      <include src="./partials/authorization/auth.html"></include>

      <!-- Sign-up button -->
      <button type="button" class="sign-up-button sign-up-modal-open">
        <span class="sign-up-text">Sign up</span>
        <!-- Arrow icon next to the sign-up button -->
        <svg class="arrow-right-icon" width="20" height="20">
          <use href="/src/images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>

      <!-- Hamburger button for mobile menu -->
      <button class="hamburger-button">
        <!-- Hamburger icon -->
        <svg class="hamburger-icon" width="28px" height="28px">
          <use href="/src/images/icons.svg#icon-menu-hamburger"></use>
        </svg>
      </button>
      <!-- Close button for mobile menu -->
      <button class="close-button" id="close-sing-up-mobile-menu">
        <!-- Close icon -->
        <svg class="close-button-icon" width="14px" height="14px">
          <use href="/src/images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<!-- End of Header Section -->
