<header>
  <div class="header-items">
    <!--navigation-->
    <nav class="nav-item">
      <a href="/src/index.html" class="logo-header">
        <svg class="logo-icon" width="24px" height="24px">
          <use href="/src/images/icons.svg#icon-logo"></use>
        </svg>
        <p>Bookshelf</p>
      </a>
      <!--navigation-list-->
      <ul class="nav-list hidden">
        <li>
          <a href="/src/index.html" class="nav-list__link nav-list__link--active home-link">HOME</a>
        </li>
        <li>
          <div class="nav-list__link">
            <a href="./shopping-list.html" class="shopping-text"
              >SHOPPING LIST<svg class="shopping-list-icon" width="20px" height="20px">
                <use href="/src/images/icons.svg#icon-shop"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </nav>

    <!--dark mode switcher-->
    <div class="switch-button-div">
      <label for="t-switch" class="switch">
        <input type="checkbox" class="theme-switch" id="t-switch" checked />
        <span class="slider"></span>
      </label>

      <include src="./partials/authorization/auth.html"></include>

      <!--hamburger button-->
      <button class="hamburger-button open-mobile-menu">
        <svg class="hamburger-icon" width="20px" height="20px">
          <use href="/src/images/icons.svg#icon-menu-hamburger"></use>
        </svg>
      </button>
    </div>
  </div>
  <!--mobile menu-->
  <div class="mobile-menu-field" id="sing-up-mobile-menu">
    <div class="mobile-header-items">
      <a href="/src/index.html" class="logo-header mobile-logo-header">
        <svg class="logo-icon" width="24px" height="24px">
          <use href="/src/images/icons.svg#icon-logo"></use>
        </svg>
        <p>Bookshelf</p>
      </a>
      <div class="switch-button-div-mobile">
        <label for="t-switch-mobile-menu" class="switch">
          <input type="checkbox" class="theme-switch" id="t-switch-mobile-menu" checked />
          <span class="slider"></span>
        </label>
        <button class="close-button" id="close-sing-up-mobile-menu">
          <svg class="close-button-icon" width="14px" height="14px">
            <use href="/src/images/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="mobile-menu-body">
      <button
        id="mobile-sing-up-button"
        type="button"
        class="sign-up-button-mobile-menu sign-up-modal-open"
      >
        <span class="sign-up-text">Sign up</span
        ><svg class="arrow-right-icon" width="20px" height="20px">
          <use href="/src/images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <div class="background-cover-container">
        <img src="/src/images/mobile-background-img.png" alt="pictur of books covers" />
      </div>
    </div>
    <div class="nav-mobile-position">
      <ul class="nav-mobile-list">
        <li>
          <a
            href="/src/index.html"
            class="nav-list__link nav-list__link--active home-link home-text"
            >HOME</a
          >
        </li>
        <li>
          <div class="nav-list__link shopping-link">
            <a href="./shopping-list.html" class="shopping-mobile-text"
              >SHOPPING LIST<svg class="shopping-list-mobile-icon" width="20px" height="20px">
                <use href="/src/images/icons.svg#icon-shop"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <button id="mobile-log-out-button" type="button" class="log-out-button-mobile-menu">
        <span class="sign-up-text">Log out</span
        ><svg class="arrow-right-icon" width="20px" height="20px">
          <use href="/src/images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <div class="background-cover-container">
        <img src="/src/images/mobile-background-img.png" alt="pictur of books covers" />
      </div>
    </div>
  </div>
</header>
