<!-- Authorization  -->
<button type="button" class="sign-up-button sign-up-modal-open">
  <span class="sign-up-text">Sign up</span>
  <svg class="arrow-right-icon" width="20" height="20">
    <use href="/src/images/icons.svg#icon-arrow-right"></use>
  </svg>
</button>

<div id="user-profile">
  <div id="user-info" class="sign-up-button">
    <div id="user-profile-image">
      <svg width="12" height="16" fill="#4F2EE8">
        <use href="/src/images/icons.svg#icon-user"></use>
      </svg>
    </div>

    <div id="user-name-display"></div>

    <svg id="user-dropdown-arrow" width="20" height="20" fill="#fff">
      <use href="/src/images/icons.svg#icon-arrow-user"></use>
    </svg>
  </div>
  <div id="user-dropdown-menu" class="hidden">
    <button id="log-out" class="log-out-button">
      <span>Log Out</span>
      <svg class="arrow-right-icon" width="13" height="10">
        <use href="/src/images/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</div>

<!-- Sign Up modal -->
<div class="sign-up-modal is-hidden">
  <div class="form-field">
    <button type="button" class="sign-up-modal-close">
      <svg class="signup-close-icon" width="14px" height="14px">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="form-div">
      <form name="signup-form" autocomplete="on" novalidate class="sign-up-form">
        <div class="form-inputs">
          <div class="input-position hf-style">
            <label>
              <span class="input-text hf-style">Name</span>
              <input type="text" name="name" class="inputs hf-style" />
            </label>
          </div>
          <div class="input-position hf-style">
            <label>
              <span class="input-text hf-style">Email</span>
              <input type="email" name="email" class="inputs hf-style" />
              <svg class="icon-mobile-position hf-style" width="21px" height="21px">
                <use href="/src/images/icons.svg#icon-email"></use>
              </svg>
            </label>
          </div>
          <div class="input-position hf-style">
            <label>
              <span class="input-text hf-style">Password</span>
              <input type="password" name="password" class="inputs hf-style" />
              <svg class="icon-mobile-position hf-style" width="21px" height="21px">
                <use href="/src/images/icons.svg#icon-lock"></use>
              </svg>
            </label>
          </div>
          <button type="submit" id="sign-up" class="sign-button-form">SIGN UP</button>
        </div>
        <div class="modal-buttons">
          <button type="button" data-switch="sign-up" class="buttons-style button-sign-up">
            SIGN UP
          </button>
          <button type="button" data-switch="sign-in" class="buttons-style">SIGN IN</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Sign In modal -->
<div class="sign-in-modal is-hidden">
  <div class="form-field">
    <button type="button" class="sign-in-modal-close">
      <svg class="signup-close-icon" width="14px" height="14px">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="form-div">
      <form name="signin-form" autocomplete="on" novalidate class="sign-in-form">
        <div class="form-inputs">
          <div class="input-position hf-style">
            <label>
              <span class="input-text hf-style">Email</span>
              <input type="email" name="email" class="inputs hf-style" />
              <svg class="icon-mobile-position hf-style" width="21px" height="21px">
                <use href="/src/images/icons.svg#icon-email"></use>
              </svg>
            </label>
          </div>
          <div class="input-position hf-style">
            <label>
              <span class="input-text hf-style">Password</span>
              <input type="password" name="password" class="inputs hf-style" />
              <svg class="icon-mobile-position hf-style" width="21px" height="21px">
                <use href="/src/images/icons.svg#icon-lock"></use>
              </svg>
            </label>
          </div>
          <button type="submit" id="sign-in" class="sign-button-form">SIGN IN</button>
        </div>
        <div class="modal-buttons">
          <button type="button" data-switch="sign-up" class="buttons-style button-sign-up">
            SIGN UP
          </button>
          <button type="button" data-switch="sign-in" class="buttons-style">SIGN IN</button>
        </div>
      </form>
    </div>
  </div>
</div>
