<!-- Authorization  -->
<button type="button" class="sign-up-button sign-up-modal-open">
  <span class="sign-up-text">Sign up</span>
  <svg class="arrow-right-icon" width="20" height="20">
    <use href="/src/images/icons.svg#icon-arrow-right"></use>
  </svg>
</button>

<div id="user-profile">
  <div id="user-info" class="sign-up-button">
    <div id="user-profile-image">
      <svg width="12" height="16" fill="#4F2EE8">
        <use href="/src/images/icons.svg#icon-user"></use>
      </svg>
    </div>

    <div id="user-name-display"></div>

    <svg id="user-dropdown-arrow" width="20" height="20" fill="#fff">
      <use href="/src/images/icons.svg#icon-arrow-user"></use>
    </svg>
  </div>

  <div id="user-dropdown-menu" class="hidden">
    <button id="log-out">Log Out</button>
  </div>
</div>

<!-- Sign Up modal -->
<div class="sign-up-modal is-hidden">
  <div class="form-field">
    <button type="button" class="sign-up-modal-close">
      <svg class="signup-close-icon" width="14px" height="14px">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="form-div">
    <form name="signup-form" autocomplete="on" novalidate class="sign-up-form">
      <div class="form-inputs">
        <div class="input-position">
        <label>
          <span class="input-text">Name</span>
          <input type="text" name="name" class="inputs"/>
        </label>
        </div>
        <div class="input-position">
        <label>
          <span class="input-text">Email</span>
          <input type="email" name="email" class="inputs"/>
        </label >
        </div>
        <div class="input-position">
        <label>
          <span class="input-text">Password</span>
          <input type="password" name="password" class="inputs"/>
        </label>
        </div>
        <button type="submit" id="sign-up" class="sign-button-form">SIGN UP</button>
      </div>
      <div class="modal-buttons">
        <!-- Кнопка для переключения на форму SIGN IN -->
        <button type="button" id="switch-to-sign-in">SWITCH TO SIGN IN</button>
        <!-- Кнопка закрытия формы -->
      </div>
      </div>
    </form>
  </div>
</div>

<!-- Sign In modal -->
<div class="sign-in-modal is-hidden">
  <div class="form-field">
    <button type="button" class="sign-in-modal-close">
      <svg class="signup-close-icon" width="14px" height="14px">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form name="signin-form" autocomplete="on" novalidate class="sign-in-form">
      <label>
        Email
        <input type="email" name="email" />
      </label>
      <label>
        Password
        <input type="password" name="password" />
      </label>
      <button type="submit" id="sign-in">SIGN IN</button>
      <!-- Кнопка для переключения на форму SIGN UP -->
      <button type="button" id="switch-to-sign-up">SWITCH TO SIGN UP</button>
    </form>
  </div>
</div>
