.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 86px;

  margin: 40px 24px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 12px;
}

// ::-webkit-scrollbar-track {
//   border-radius: 12px;
//   background-color: $primary-color;
// }
