@import './variables';

#scrollUp {
  display: none;
  position: fixed;
  top: 85%;
  right: 2%;
  width: 54px;
  height: 54px;
  cursor: pointer;
  background-color: $primary-color;
  border-radius: 50%;
  border: 5px solid transparent;

  transition: border 0.5s ease-in;

  svg {
    fill: $white-color;
  }

  &:hover {
    border: 5px solid rgba(213, 184, 255, 0.7);
  }

  &.on {
    display: block;
  }
}
